<?xml version="1.0"?>
<launch>

  <arg name="speed_model_json" default="$(find ssc_pm_lexus)/json/speed_model.json" />
  <arg name="steering_model_json" default="$(find ssc_pm_lexus)/json/steering_model.json" />
  <arg name="veh_controller_json" default="$(find ssc_pm_lexus)/json/veh_controller.json" />
  <arg name="veh_interface_json" default="$(find ssc_pm_lexus)/json/veh_interface.json" />

  <group>
    <node pkg="ssc_pm_lexus" type="speed_model" name="speed_model" args="-f $(arg speed_model_json)" />
    <node pkg="ssc_pm_lexus" type="steering_model" name="steering_model" args="-f $(arg steering_model_json)" />

    <node pkg="ssc_pm_lexus" type="veh_controller" name="veh_controller" args="-f $(arg veh_controller_json)" />
    <node pkg="ssc_pm_lexus" type="veh_interface" name="veh_interface" args="-f $(arg veh_interface_json)" />
  </group>
</launch>
