<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2019 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	This file is used to launch a CARMA compatible controller driver for the pacmod using the ssc interface
-->
<launch>

  <arg name="can_hardware_id" default="57755" />
  <arg name="can_circuit_id" default="0" />
  <arg name="can_bit_rate" default="500000" />

  <!-- Launch Wrapper -->
  <!-- Group to scope remappings -->
  <include file="$(find ssc_interface_wrapper)/launch/ssc_interface_wrapper.launch"/>
  
  <!-- Launch Wrapped Nodes -->
  <!-- Drive By Wire -->
  <include file="$(find dbw_pacifica_can)/launch/dbw.launch">
    <arg name="can_hardware_id" default="57755" />
    <arg name="can_circuit_id" default="0" />
    <arg name="can_bit_rate" default="500000" />
  </include>

  <!-- SSC -->
  <include file="$(find ssc_interface_wrapper)/launch/carma_pacifica_speed_steering_control.launch"/>

  <!-- SSC Interface -->
  <include file="$(find ssc_interface_wrapper)/remapped_ssc_interface.launch"/>
</launch>
