<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2019 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	This file is used to launch a CARMA compatible controller driver for the pacmod using the ssc interface
-->
<launch>
  <arg name="can_hardware_id" default="57755" />
  <arg name="can_circuit_id" default="0" />
  <arg name="can_bit_rate" default="500000" />
  <arg name="ssc_param_dir" default="$(find ssc_ne_pacifica)"/>
  <arg name="use_socketcan" default="true" />
  <arg name="socketcan_device" default="can0" />

  <!-- Launch Wrapper -->
  <!-- Group to scope remappings -->
  <include file="$(find ssc_interface_wrapper)/launch/ssc_interface_wrapper.launch"/>
  
  <!-- Launch Wrapped Nodes -->
  <!-- Drive By Wire -->
  <node ns="new_eagle" pkg="dbw_pacifica_can" type="dbw_node" name="dbw" output="screen">
    <param name="dbw_dbc_file" textfile="$(find dbw_pacifica_can)/New_Eagle_DBW_3.3.388.dbc" />
  </node>

  <node pkg="socketcan_bridge" type="socketcan_bridge_node" name="socketcan_bridge" if="$(arg use_socketcan)">
    <param name="can_device" value="$(arg socketcan_device)" />
    <remap from="received_messages" to="new_eagle/can_tx" />
    <remap from="sent_messages" to="new_eagle/can_rx" />
  </node>

  <!-- SSC -->
  <include file="$(find ssc_interface_wrapper)/launch/carma_speed_steering_control.launch">
    <arg name="param_dir" value="$(arg ssc_param_dir)"/>
    <arg name="ssc_package_name" value="ssc_ne_pacifica"/>
  </include>

  <!-- SSC Interface -->
  <include file="$(find ssc_interface_wrapper)/launch/remapped_ssc_interface.launch"/>
</launch>
