<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2019 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	This file is used to launch a CARMA compatible controller driver for the pacmod using the ssc interface
-->
<launch>

  <arg name="pacmod_vehicle_type" default="LEXUS_RX_450H" />
  <arg name="use_kvaser" default="false" />
  <arg name="kvaser_hardware_id" default="10376" />
  <arg name="kvaser_circuit_id" default="0" />

  <!-- Launch Wrapper -->
  <group> <!-- Group to scope remappings -->
    <remap from="parsed_tx/global_rpt" to="pacmod/parsed_tx/global_rpt"/>
    <remap from="parsed_tx/steer_rpt" to="pacmod/parsed_tx/steer_rpt"/>
    <remap from="parsed_tx/brake_rpt" to="pacmod/parsed_tx/brake_rpt"/>
    <remap from="parsed_tx/shift_rpt" to="pacmod/parsed_tx/shift_rpt"/>
    <include file="$(find ssc_interface_wrapper)/launch/ssc_interface_wrapper.launch"/>
  </group>
  <!-- Launch Wrapped Nodes -->
  <!-- Drive By Wire -->
  <include file="$(find pacmod3)/launch/pacmod3.launch" ns="pacmod">
    <arg name="pacmod_vehicle_type" value="LEXUS_RX_450H" />
    <arg name="use_kvaser" value="true" />
    <arg name="kvaser_hardware_id" value="10376" />
    <arg name="kvaser_circuit_id" value="0" />
  </include>

  <!-- SSC -->
  <group>
    <remap from="brake_cmd" to="pacmod/as_rx/brake_cmd"/>
    <remap from="brake_report" to="pacmod/parsed_tx/brake_rpt"/>
    <remap from="enable_cmd" to="pacmod/as_rx/enable"/>
    <remap from="steering_cmd" to="pacmod/as_rx/steer_cmd"/>
    <remap from="steering_report" to="pacmod/parsed_tx/steer_rpt"/>
    <remap from="throttle_cmd" to="pacmod/as_rx/accel_cmd"/>
    <remap from="throttle_report" to="pacmod/parsed_tx/accel_rpt"/>
    <remap from="transmission_cmd" to="pacmod/as_rx/shift_cmd"/>
    <remap from="transmission_report" to="pacmod/parsed_tx/shift_rpt"/>
    <remap from="turn_signal_cmd" to="pacmod/as_rx/turn_cmd"/>
    <remap from="speed" to="pacmod/parsed_tx/vehicle_speed_rpt"/>
    <remap from="wheel_speed" to="pacmod/parsed_tx/wheel_speed_rpt"/>
    <remap from="global_report" to="pacmod/parsed_tx/global_rpt"/>
    <include file="$(find ssc_interface_wrapper)/launch/carma_speed_steering_control.launch"/>
  </group>

  <!-- SSC Interface -->
  <group>
    <remap from="as/arbitrated_speed_commands" to="arbitrated_speed_commands"/>
    <remap from="as/arbitrated_steering_commands" to="arbitrated_steering_commands"/>
    <remap from="as/brake_feedback" to="brake_feedback"/>
    <remap from="as/curvature_feedback" to="curvature_feedback"/>
    <remap from="as/gear_feedback" to="gear_feedback"/>
    <remap from="as/gear_select" to="gear_select"/>
    <remap from="as/module_states" to="module_states"/>
    <remap from="as/throttle_feedback" to="throttle_feedback"/>
    <remap from="as/turn_signal_command" to="turn_signal_command"/>
    <remap from="as/velocity_accel" to="velocity_accel"/>
    <include file="$(find as)/launch/ssc_interface.launch">
        <arg name="use_rear_wheel_speed" value="true"/>
        <arg name="use_adaptive_gear_ratio" value="true"/>
        <arg name="command_timeout" value="1000"/>
        <arg name="loop_rate" value="30.0"/>
        <arg name="wheel_base" value="2.79"/>
        <arg name="tire_radius" value="0.39"/>
        <arg name="acceleration_limit" value="3.0"/>
        <arg name="deceleration_limit" value="6.0"/>
        <arg name="max_curvature_rate" value="0.75"/>
    </include>
  </group>
</launch>
